h4.title_carousel {
color:#ffffff; margin-top:10px; text-transform:uppercase; font-weight:normal;
font-size:22px;
}
.carouselattrib {
	background:url(carouselattrib.png) no-repeat;
	height:2px;
	margin-bottom:1.5em;
}

.jcarousel-skin-ie7 .jcarousel-container {
    
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
	margin:0 auto;
	background:url(bg_carousel.png);
	height:150px;
}

.jcarousel-skin-ie7 .jcarousel-container-vertical {
    width: 75px;
    padding: 40px 20px;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    height: auto;
	margin-right:27px;
	margin-left:27px;
}

.jcarousel-skin-ie7 .jcarousel-clip-vertical {
    width:  75px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    width: 155px !important;
    height: 150px;
    text-align: center;
	background:#fff;
	padding:0 !important;
	margin-top:0 !important;
	position:relative;
}

.jcarousel-skin-ie7 .jcarousel-item:hover {
	border-right:1px solid #b5af99;
	border-left:1px solid #b5af99;
	background:#fff !important;
}

.jcarousel-skin-ie7 .jcarousel-item .wrapper_product {
	float:left;
	width:100%;
	background:rgba(0,0,0,0.8);
	position:absolute;
	display:none;
	bottom:-30px;
	z-index:0;
}
.jcarousel-skin-ie7 .jcarousel-item .wrapper_product .wrapper_name_product a{
	float:left;
}
.jcarousel-skin-ie7 .jcarousel-item .wrapper_product .wrapper_name_product p{
	float:right;
}

.jcarousel-skin-ie7 .jcarousel-item .wrapper_product h4 a {
	color:#646464;
	font-weight:normal;
	font-size:12px;
	margin-right:10px;
}
.jcarousel-skin-ie7 .jcarousel-item .wrapper_product p {
	text-align:right;
}
.jcarousel-skin-ie7 .jcarousel-item .wrapper_product .price {
	color:#B92C2C;
	margin-right:10px;
	font-weight:normal;
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {
    
}

.jcarousel-skin-ie7 .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
	background:transparent url(next.png) no-repeat scroll 0 top;
	cursor:pointer;
	height:130px;
	position:absolute;
	right:5px;
	top:25%;
	width:17px;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:hover, .jcarousel-skin-ie7 .jcarousel-prev-horizontal:hover {
    background-position: 0 center;
}

.jcarousel-skin-ie7 .jcarousel-next-horizontal:active, .jcarousel-skin-ie7 .jcarousel-prev-horizontal:active {
    background-position: 0 top;
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 bottom;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
	background:transparent url(prev.png) no-repeat scroll 0 0;
	cursor:pointer;
	height:130px;
	left:5px;
	position:absolute;
	top:25%;
	width:17px;
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 bottom;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-next-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-ie7 .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-ie7 .jcarousel-next-disabled-vertical,
.jcarousel-skin-ie7 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-ie7 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-ie7 .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-ie7 .jcarousel-prev-vertical:hover {
    background-position: 0 -32px;
}

.jcarousel-skin-ie7 .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-ie7 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-ie7 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}