#module-mailalerts-mailalerts-account #center_column {width:680px}

#mailalerts_block_account .mailalert {
	position:relative;
   margin-bottom: 14px;
   padding: 12px 8px;
	border: 1px solid #eee;
   border-radius: 3px 3px 3px 3px;
}

.mailalert a.product_img_link {
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    margin-right: 14px;
    overflow: hidden;
    position: relative;
}

.mailalert h3 {
    color: #000000;
    font-size: 13px;
    padding: 0 0 10px;
}

.mailalert  p.product_desc {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

.mailalert .remove {
	position:absolute;
	top:10px;
	right:10px
}
.mailalert .remove .icon {cursor:pointer}


/* lnk fiche produit */

#usefull_link_block li#mailalerts_block_extra_remove {
	padding-left:20px;
	background:url(img/del_alert.gif) no-repeat 0 0;
	cursor: pointer;
}
#buy_block #oos_customer_email {
    background: url("../../../img/icon/vs-contact.png") no-repeat scroll left -52px #FFFFFF;
    margin: 0;
    padding: 2px 2px 2px 30px;
    width: 235px;
}
#buy_block #mailalert_link {
    background: url("../../../img/vs-btn-global.png") repeat-x scroll 0 bottom #91611A;
    border: medium none;
    color: #E1D4C1;
    cursor: pointer;
    display: inline-block;
	*display: inline-block;
	zoom:1;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px !important;
    font-weight: bold;
    height: 20px;
    line-height: 19px;
    margin: 5px 0 10px;
    padding: 0 5px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}
#buy_block #mailalert_link:hover { color:#ffffff; }